body {
    background-color: #f9d4b4 ;
}
h1 {
    color: #f2eddd ;
    text-align: center;
    background-color:#9c7d5c;
    font-size: 250%;
    font-family: 'Croissant One', cursive;
    border-bottom: 3px solid #f2eddd;
    
}
h2 {
    color: #f2eddd ;
    text-align: center;
    background-color:#9c7d5c;
    font-size: 250%;
    font-family: 'Pattaya', sans-serif;
    border-bottom: 3px solid #f2eddd;
    

}
#p1 {
    font-size: 120%;
    color: #3949ab;
    margin-left: 10px;
    font-family: 'Kanit', sans-serif;


}
h4 {
    font-size: 150%;
    color: #3e2723;
    border-style:inset;
    font-family: 'Pattaya', sans-serif;
    
}
a {
    color: red;
}
img{
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}